@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@500&display=swap');
@import 'grid.css', 'grid-customizations.css', 'common';

.h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 36px;
}

.h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.p1 {
  color: var(--brand-text-color-primary);
  font-size: 1em;
  border: 1px solid var(--brand-text-color-lowlight);
  padding: 10px;
  border-radius: 5px;
}
.p2 {
  color: var(--brand-text-color-lowlight);
  font-style: italic;
  font-size: 0.8em;
  border: 1px dashed var(--brand-text-color-lowlight);
  padding: 10px;
  border-radius: 5px;
}

textarea {
  background-color: var(--brand-background-inverse-color);
  color: var(--brand-text-color-secondary);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 4px 8px;
  width: 100%;
  resize: none;
}

.troopers-per-task {
  padding: .5rem .8rem;
  border-top: solid 2px var(--brand-text-color-primary);
  border-bottom: solid 2px var(--brand-text-color-primary);
  border-left: none;
  border-right: none;
  border-radius: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--brand-background-inverse-color);
  color: var(--brand-background-color);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--brand-background-color);
    color: var(--brand-background-inverse-color)
  }

  &.input {
    max-width: 50px;

    &:hover {
      background-color: transparent;
    }
  }

  &.increment, &.decrement {
    cursor: pointer;
  }

  &.decrement {
    border-left: solid 2px var(--brand-text-color-primary);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &.increment {
    border-right: solid 2px var(--brand-text-color-primary);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

button.assign {
  background-color: var(--brand-background-color);
  color: var(--brand-text-color-highlight);
  border: solid 2px var(--brand-text-color-highlight);
  border-radius: 15px;
  width: 170px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    box-shadow: 3px 3px var(--brand-text-color-highlight);
  }
}

.result-format-toggle {
  background: none;
  border: none;
  color: var(--brand-text-color-highlight);

  &:not(.active) {
    color: var(--brand-text-color-lowlight);
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.center > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
